<h1>ChangeControl Dashboard</h1>

<div class="global_links">
  <%= link_to 'Invite Users', new_invite_user_path %>
  <%= link_to 'Edit Users', users_path %>
  <%= link_to 'Create Change Request', new_change_request_path %>
</div>

<table>
  <tr>
    <th></th>
  </tr>

  <% @change_requests.each do |change_request| %>
      <tr>
        <td><%= change_request.requester_id %></td>
        <td><%= change_request.request_date %></td>
        <td><%= change_request.status %></td>
        <td><%= change_request.summary %></td>
        <td><%= change_request.description %></td>
        <td><%= change_request.change_type %></td>
        <td><%= change_request.assigned_to %></td>
        <td><%= change_request.due_date %></td>
        <td><%= link_to 'Show', change_request %></td>
        <td><%= link_to 'Edit', edit_change_request_path(change_request) %></td>
        <td><%= link_to 'Destroy', change_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />
