<h1>Listing change_requests</h1>

<table>
  <tr>
    <th>Requester</th>
    <th>Request Date</th>
    <th>Status</th>
    <th>Summary</th>
    <th>Description</th>
    <th>Change Type</th>
    <th>Assigned To</th>
    <th>Due Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @change_requests.each do |change_request| %>
  <tr>
    <td><%= change_request.requester_id %></td>
    <td><%= change_request.request_date %></td>
    <td><%= change_request.status %></td>
    <td><%= change_request.summary %></td>
    <td><%= change_request.description %></td>
    <td><%= change_request.change_type %></td>
    <td><%= change_request.assigned_to %></td>
    <td><%= change_request.due_date %></td>
    <% if allow? "change_requests", "show" %>
        <td><%= link_to 'Show', change_request %></td>
    <% end %>
    <% if allow? "change_requests", "edit" %>
        <td><%= link_to 'Edit', edit_change_request_path(change_request) %></td>
    <% end %>
    <% if allow? "change_requests", "destroy" %>
        <td><%= link_to 'Destroy', change_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Change request', new_change_request_path %>
