<h1>Confirmation</h1>

<%= form_for @signup, :url => signup_confirmation_path(params[:id]) do |f| %>
    <% if @signup.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @signup.errors.full_messages %>
                <li><%=  message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%=  label_tag :credit_card, "Credit Card Number " %>
      <%=  text_field_tag :credit_card, nil , name: nil %>
    </div>

    <div class="field">
      <%= label_tag :cvc_code, "Security Code on Card (CVC)" %>
      <%= text_field_tag :cvc_code, nil, name: nil %>
    </div>

    <div class="field">
      <%=  label_tag :expires_month, "Expiration Date" %>
      <%=  select_month nil, {add_month_numbers_true: true}, {name: nil, id: "expires_month"} %>
      <%=  select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "expires_year"} %>
    </div>

    <div class="actions"><%= f.submit "Submit" %></div>
<% end %>