<%= form_for(@invite_user) do |f| %>
    <% if @invite_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invite_user.errors.count, "error") %> prohibited this invitation from being saved:</h2>

          <ul>
            <% @invite_user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <div class="btn-toolbar">
          <%= f.submit 'Create Invitation', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>

<% end %>
