<!DOCTYPE html>
<html>
<head>
  <title>RockCreek</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <% if Rails.env.to_s == "production" %>
      <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
  <% else %>
      <%= javascript_tag "Stripe.publishableKey = '#{STRIPE_PUBLIC_KEY}';" %>
      <!-- <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %> -->
  <% end %>
</head>
<body>
    <div id="container">
      <div id="company_name">MyChangeControl</div>
      <div id="user_nav">
        <% if current_user %>
            Logged in as <%= current_user.email %>
            <%= link_to "Log out", logout_path %>
        <% else %>
            <%= link_to "Log in", login_path %>
        <% end %>
      </div>
      <ol id="navlinks">
        <% if allow? "invite_users", "new" %>
            <li><%= link_to 'Invite Users', new_invite_user_path %></li>
        <% end %>
        <% if allow? "users", "edit" %>
            <li><%= link_to 'Edit Users', users_path %></li>
        <% end %>
        <% if allow? "change_requests", "new" %>
            <li><%= link_to 'Create Change Request', new_change_request_path %></li>
        <% end %>
        <% if allow? "dashboard", "show" %>
            <li><%= link_to 'Dashboard', dashboard_path %></li>
        <% end %>

      </ol>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
   </div>
   <div id="content">
     <%= yield %>
   </div>
</body>
</html>
