<!DOCTYPE html>
<html>
<head>
  <title>RockCreek</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <% if Rails.env.to_s == "production" %>
      <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
  <% else %>
      <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <% end %>
</head>
<body class="<%= params[:controller] %>">
    <div id="container">
      <div id="user_nav">
        <% if current_user %>
            Logged in as <%= current_user.email %>
            <%= link_to "Log out", logout_path %>
        <% else %>
            <%= link_to "Sign up", signup_path %> or
            <%= link_to "Log in", login_path %>
        <% end %>

        <%= link_to Rails.env.to_s, logout_path %>
      </div>
      <div id="commands">
            <% if allow? "invite_users", "new" %>
                <%= link_to 'Invite Users', new_invite_user_path %>
            <% end %>
            <% if allow? "users", "edit" %>
                <%= link_to 'Edit Users', users_path %>
            <% end %>
            <% if allow? "change_requests", "new" %>
                <%= link_to 'Create Change Request', new_change_request_path %>
            <% end %>
            <% if allow? "dashboard", "show" %>
                <%= link_to 'Dashboard', dashboard_path %>
            <% end %>

      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
</body>
</html>
